<footer>
    <div>
        <p>addresse</p>
    </div>
    <div>
        <p>Horraires</p>
    </div>
    <div>
        <nav class="social">
            <ul>
                <li><a href="#">youtube</a></li>
                <li><a href="#">insta</a></li>
                <li><a href="#">snap</a></li>
                <li><a href="#">facebook</a></li>
                <li><a href="#">twitter</a></li>
            </ul>
        </nav>
    </div>
</footer>