<footer>

     <div class="address">
         <p>addresse</p>
     </div>

     <div class="horraires">
         <p>Horraires</p>
     </div >

             <!-- Menu de nvaigation -->

     <div class="menuSocial">

        <nav class="social">

            <ul class="socialUl">
                <li><a href="#" target="#">youtube</a></li>
                <li><a href="#" target="#">insta</a></li>
                <li><a href="#" target="#">snap</a></li>
                <li><a href="#" target="#">facebook</a></li>
                <li><a href="#" target="#">twitter</a></li>
            </ul>

        </nav>

    </div>

</footer>