<header>

     <div class="banner">

         <div class="Login">
             <p>
                 Menu de connection
             </p>
         </div>
      
             <img src="../images/b04f2e_5bfb7fad67ca4c77b22435e0ae36046e.webp">

     </div>

     <div class="menu">

         <nav class="menuNav">

             <ul class="menuNavUl">
                <li><a href="#"> Accueil</a></li>
                <li><a href="#"> Services </a></li>
                <li><a href="#">Réservation</a></li>
                <li><a href="#">Images</a></li>
            </ul>

        </nav>

    <div>

</header>



<!-- Note 

     Services : (regrouper les éléments)
         - Partie Audio: Enregistrement, mixage, mastering  
         - Partie Visuel: Vidéo, Graphisme, 
         - Partie annexe: Pressage, Impression, 
         - Distribution

    Les artistes




!!? Section : Payer en ligne; à transformer en bouton ?!!

-->	