<header>
    <h1>
    </h1>
    <nav class="menuNav">
        <ul>
            <li><a href="#"> Accueil</a></li>
            <li><a href="#"> Acteurs</a></li>
            <li><a href="#">Synopsis</a></li>
            <li><a href="#">Images</a></li>
        </ul>
    </nav>
</header>