<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}<link rel="stylesheet" href="css/reset.css">{% endblock %}
    </head>
    <body>
        <div id="container">
            <div id="content">
                {% include 'partials/header.html.twig' %}
                {% block body %}{% endblock %}
                {% include 'partials/footer.html.twig' %}
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>

